.header{
    border-bottom: 0.5px solid #19477e;
    padding: 20px 0px 20px 0px;
}
#logo {
    width: 120px;
}
#logo img {
    max-width: 100%;
    max-height: 100%;
}
#siteTitle{
    margin-left: 50px;
    font-family: Roboto;
}

#logo,#siteTitle {
    display: inline-block;
    vertical-align: middle;
}
#linkTCS:hover{
    color: black;
    text-decoration: none;
}
#siteTitle h1 {
    color: #19477e;
}
#dashboard {
    margin-top: 20px;
}
#graphicTypes {
    width: 60%;
}
#graphicTypes button{
    border-color: #19477e;
}
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
}
#graphContainer {
    margin-top: 50px;
}
#divGraph, svg {
    height: 600px;
    width: 700px;
    margin: auto;
}

/* Styles for info inside map */
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: right;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

/* Legend styles */
.legend {
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}
.score-value{
    width: 20px;
    display: inline-block;
}
